/node_modules
/public/hot
/public/storage
/bootstrap/cache/*.php
/storage/*.key
/storage/**/*.php
/storage/**/*.log
/storage/**/*.sqlite
/vendor
/.idea

.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
